page-carinfo {
    h4 {
        color: black;
        font-size: 14px;
    }
    span {
        font-size: 14px;
        color: gray;
    }
    .btn{
        .button-inner{
            color: #ff88bb;
        }
        border: 1px solid #ff88bb;
        background: white;
    }
    .labels{
        text-align: center;
    }
}