page-message {
    .row div{
        text-align:center;
        color: #ff88bb;
        p{
            margin: 0px;
        }
    }
    ion-item-divider{
        min-height: 10px !important;
    }
    .row1 div{
        color: black;
    }
}
