page-user {
    ion-content {
        background: #f2f2f2 !important;
        .btn {
            margin-bottom: 15px;
        }
        ion-avatar {
            height: 60px;
            width: 60px;
            img {
                width: 100% !important;
                height: 100% !important;
            }
        }
        .span1 {
            font-size: 12px;
            color: gray;
        }
        h3 {
            font-size: 16px;
            color: #f2f2f2;
            &.userlogin {
                color: #ff88bb;
            }
        }
    }
}