page-friend {
    .toolbar-background-ios {
        background: none !important;
    }
    .div {
        position: relative;
        height: 200px;
        overflow: hidden;
    }
    .pick {
        width: 66px;
        height: 66px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -33px;
        margin-left: -33px;
        img {
            width: 66px;
            height: 66px;
            border: 5px solid rgba(255, 255, 255, 0.22);
            border-radius: 100%;
        }
    }
    .name {
        text-align: center;
        font-size: 20px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        color: #f2f2f2;
    }
    ion-segment-button {
        border: none !important;
        background: white !important;
    }
    .segment-ios-light .segment-button.segment-activated {
        color: #000;
        border-bottom: 2px solid #ff88bb !important;
    }
    .segment-ios-light .segment-button {
        color: gray;
    }
    .list-ios {
        margin: 0;
        ion-item {
            border-top: 0px;
            border-bottom: 0px;
        }
        .pink {
            span {
                color: #ff88bb;
            }
        }
        ion-item-divider {
            &.item-divider-ios {
                height: 15px;
            }
        }
    }
    .box-ion {
        text-align: center;
        ion-icon {
            color: white;
            background: #969696;
            margin-right: 14px;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            line-height: 25px;
            &.active {
                background: #ff88bb;
            }
        }
    }
    .div2 {
        padding: 10px;
    }
}